/* Cores específicas do Registro (Tema Teal/Secondary) */

.auth-container {
    border-top: 4px solid var(--secondary-color);
}

.auth-container h2 {
    color: var(--secondary-color);
    margin-bottom: 0.5rem; /* Ajuste específico devido ao subtítulo */
}

.subtitle {
    font-size: 0.9rem;
    color: #b0b0b0;
    margin-bottom: 1.5rem;
}

.input-group input:focus {
    outline: none;
    border-color: var(--secondary-color);
}

button {
    background-color: var(--secondary-color);
    color: #000;
}