<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>WhatsChat{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <!-- Bloco Principal de Conteúdo -->
    {% block content %}
    {% endblock %}

    <!-- Bloco para Scripts JS Específicos da página filha -->
    {% block extra_js %}{% endblock %}
</body>
</html>